/*CSS Reset is applied*/
/* Polaris is used as a guideline */
html, body, #root, #app {
  height: 100%;
  min-width: 500px; }

html {
  /* Load system fonts */
  font-family: -apple-system, BlinkMacSystemFont, San Francisco, Roboto, Segoe UI, Helvetica Neue, sans-serif;
  /* Make type rendering look crisper */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Disable auto-enlargement of small text in Safari */
  text-size-adjust: 100%;
  /* Enable kerning and optional ligatures */
  text-rendering: optimizeLegibility; }

html {
  max-width: 1920px;
  /* Centering the app, the old fashioned way*/
  margin: 0 auto; }

header {
  padding: 40px 0 40px 0;
  text-align: center;
  background: #7433f1;
  color: white; }

h1 {
  font-size: 42px;
  line-height: 44px;
  font-weight: 500; }

table {
  width: 100%; }

th {
  text-align: left;
  font-weight: bold;
  color: #333333;
  padding: 1em 0 1em 0; }

td {
  padding: 0.25em 0; }

#root {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 3px #333333; }

a {
  color: #333333;
  text-decoration: none; }

a:hover {
  color: #7433f1; }

.content {
  display: flex;
  height: 100%; }

.leftPannel, .rightPannel {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 2em 3em 2em 3em; }

.rightPannel {
  background: #f3ecfe; }

/* Search Component Start */
.search-wrapper {
  display: flex;
  flex-direction: row;
  flex-shrink: 0; }

.search-input,
.search {
  margin: 1em 0em 1em 0;
  box-sizing: border-box;
  border-radius: 5px;
  border: none;
  padding: 1em 1em;
  height: 40px; }

.search-input {
  border: 1px solid black;
  flex-grow: 1;
  margin-right: 15px; }

.search {
  background-color: #7433f1;
  color: white;
  font-weight: 700;
  cursor: pointer;
  user-select: none;
  padding: 1em 3.5em; }

.search:hover {
  box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.25);
  background-color: #50248f; }

.search:focus {
  box-shadow: 0 0 0.1875em 0.1875em rgba(92, 106, 196, 0.5);
  outline: none; }

.search:active {
  box-shadow: 0 0 0.1875em 0.1875em rgba(92, 106, 196, 0.5);
  background-color: #230051;
  border-color: #000639; }

/* Making button for mutating row states look like links to match design, while honoring HTML semantics */
.button-edit {
  background: none;
  color: #7433f1;
  padding: 0;
  font: inherit;
  border: none;
  border-bottom: 1px solid #7433f1;
  cursor: pointer;
  outline: 0;
  float: right; }

.button-edit:hover {
  color: #333333; }

.button-edit:focus {
  outline: 0;
  color: red; }

/* Search Component End*/
.github-link {
  position: fixed;
  top: 50%;
  right: 10px;
  box-shadow: 0 0 3px #333333;
  border-radius: 50%; }

.github-link:hover {
  position: fixed;
  top: 50%;
  right: 10px;
  box-shadow: 0 0 20px #7433f1;
  border-radius: 50%; }

@media only screen and (max-width: 1000px) {
  .input[type="text"] {
    margin: none; }

  #root {
    box-shadow: none; }

  .content {
    display: flex;
    flex-direction: column; }

  .leftPannel, .rightPannel {
    width: auto;
    display: block; }

  .search-wrapper {
    flex-direction: column; }

  .search-input {
    margin: 0; }

  .table-wrapper {
    display: flex;
    flex-shrink: 0; }

  .github-link {
    display: none; } }
